.App {
  text-align: center;
background: radial-gradient(666px at 0.4% 48%, rgb(202, 204, 227) 0%, rgb(89, 89, 99) 97.5%);

}
.purple-theme{

  background: rgb(179, 146, 250);
  
}

.track{

  margin: 0 auto;
padding: 12px;
border-radius: 12px;
background: linear-gradient(90deg, rgba(140, 140, 140, 1) 0%, rgba(203, 184, 253, 1) 100%);
border: 2px #61dafb;
box-shadow: 1px 1px 5px;
margin-bottom: 22px;


}

.img-fluid{
max-width: 400px;
display: block;
margin: 0 auto;

}
ul{
  text-decoration: none;
}
.foot{
  font-size: 22px;
  color: #885df1;
}
.nav-link{
  color: #885df1;
}
.time{
  border: 3px solid#885df1;
  border-radius: 7px;
  margin: 66px;
  padding: 33px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.container{
border: 2px solid #885df1;
animation: glow 6s infinite linear;


}
@keyframes glow {

  0%,
  100% {
    box-shadow: 0 0 10px rgb(69, 0, 244);
  }

  50% {
    box-shadow: 0 0 50px rgb(0, 255, 247), 0 0 30px rgb(94, 32, 252);
  }
}


.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}

.App-link {
  color: #61dafb;
}

.img-fluid{

margin-top: 40px;
display: block;
margin-bottom: 33px;

}



